<h1><%= @todo.title %></h1>
<h3><%= link_to 'New Article', new_todo_article_path(@todo) %></h3>
<table>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'Edit', edit_todo_article_path(@todo, article) %></td>
      <td><%= link_to 'Delete', todo_article_path(@todo, article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Show', todo_article_path( @todo, article) %></td>
     <!-- <td><form action = <%= todo_article_path(@todo, article) %> method = 'patch'><input type="hidden" name="_method" value="patch" /><% if true  %><input type = 'checkbox' name = <%= article.is_done %> value = 'true' checked ><% else %><input type = 'checkbox' name = <%= article.is_done %> value = 'true'><% end %><p><input type="submit" value="Submit"></p>
     </form></td>-->
     <td><%= check_box_tag(:is_done, 1 , article.is_done) %>
        </tr>
      <% end %>
    </table>
    <h4><%= link_to 'Back', todos_path %></h4>

